// ==============================
// Custom style
// ==============================

.dark-theme .single .content .table-wrapper>table {
  background: $global-background-color-dark;
}

.single .content .table-wrapper > table th, .single .content .table-wrapper > table td {
  border: none;

  .dark-theme & {
    border: none;
  }
}

.dark-theme .gist .pl-c1, .dark-theme .gist .pl-s .pl-v {
  color: #E0957B;
}

.gist .gist-file {
  border: none !important;
}

.gist .pl-pds, .gist .pl-s, .gist .pl-s .pl-pse .pl-s1, .gist .pl-sr, .gist .pl-sr .pl-cce, .gist .pl-sr .pl-sra, .gist .pl-sr .pl-sre {
  .dark-theme & {
    color: #62A362;
  }
}

.gist .pl-e, .gist .pl-en {
  .dark-theme & {
    color: #C9C9D1;
  }
}

.gist .pl-smw, .gist .pl-v {
  .dark-theme & {
    color: #C9C9D1;
  }
}

.gist .pl-c1, .gist .pl-s .pl-v {
  .dark-theme & {
    color: #4DACF0;
  }
}

.gist .pl-k {
  .dark-theme & {
    color: #E0957B;
  }
}

.gist .highlight {
  background: $global-background-color !important;
}

.gist .gist-data {
  .dark-theme & {
    background-color: $global-background-color-dark !important;
  }
}

.gist .blob-code-inner {
  color: $global-font-color !important;

  .dark-theme & {
    color: #C9C9D1 !important;
  }
}

.gist .blob-code {
  background: $global-background-color !important;

  .dark-theme & {
    background: $global-background-color-dark !important;
  }
}

.gist .blob-num {
  background: $global-background-color !important;

  .dark-theme & {
    background: $global-background-color-dark !important;
    color: #575567 !important;
  }
}

.gist .pl-smi {
  .dark-theme & {
    color: #C9C9D1 !important;
  }
}

.gist .gist-meta {
  font-family: Helvetica, Arial, sans-serif !important;
  background-color: $global-background-color !important;

  .dark-theme & {
    background: $global-background-color-dark !important;
  }
}

.gist .gist-meta a {
  .dark-theme & {
    color: #a9a9b3 !important;
  }
}
