// ==============================
// Custom style
// ==============================

.single .content .table-wrapper > table th, .single .content .table-wrapper > table td {
  border: none;

  .dark-theme & {
    border: none;
  }
}

.gist .gist-file {
  border: none !important;
}

.gist .pl-pds, .gist .pl-s, .gist .pl-s .pl-pse .pl-s1, .gist .pl-sr, .gist .pl-sr .pl-cce, .gist .pl-sr .pl-sra, .gist .pl-sr .pl-sre {
  .dark-theme & {
    color: #ffab70;
  }
}

.gist .pl-e, .gist .pl-en {
  .dark-theme & {
    color: #9e72ef;
  }
}

.gist .pl-smw, .gist .pl-v {
  .dark-theme & {
    color: #a9a9b3;
  }
}

.gist .pl-c1, .gist .pl-s .pl-v {
  .dark-theme & {
    color: #608dbf;
  }
}

.gist .pl-k {
  .dark-theme & {
    color: #f97583;
  }
}

.gist .highlight {
  background: $global-background-color !important;
}

.gist .gist-data {
  .dark-theme & {
    background-color: $global-background-color-dark !important;
  }
}

.gist .blob-code-inner {
  color: $global-font-color !important;

  .dark-theme & {
    color: $global-font-color-dark !important;
  }
}

.gist .blob-code {
  background: $global-background-color !important;

  .dark-theme & {
    background: $global-background-color-dark !important;
  }
}

.gist .blob-num {
  background: $global-background-color !important;

  .dark-theme & {
    background: $global-background-color-dark !important;
    color: $global-font-color-dark !important;
  }
}

.gist .pl-smi {
  .dark-theme & {
    color: $global-font-color-dark !important;
  }
}

.gist .gist-meta {
  font-family: Helvetica, Arial, sans-serif !important;
  background-color: $global-background-color !important;

  .dark-theme & {
    background: $global-background-color-dark !important;
  }
}

